<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>기업 회원 페이지</title>
</head>
<body>
	<div style="display:flex; justify-content: center; align-items: center; height: 100vh">
		<div>
			<button th:onclick="|location.href='@{/company/post}'|">
				<h1>
					공고 등록
				</h1>
			</button>
			<hr>
			<button th:onclick="|location.href='@{/company/update}'|">
				<h1>
					공고 수정
				</h1>
			</button>
			<hr>
			<button th:onclick="|location.href='@{/company/delete}'|">
				<h1>
					공고 삭제
				</h1>
			</button>
			<hr>
			<button th:onclick="|location.href='@{/company/list}'|">
				<h1>
					공고 조회
				</h1>
			</button>
			<hr>
			<button th:onclick="|history.back()|" style="width: 100%">
				<h1>
					뒤로가기
				</h1>
			</button>
		</div>
	</div>
</body>
</html>